<div class="card-group">
    <div class="card">
      <img src="./img/parag.jfif" class="card-img-top" alt="..." width="230px" height="250px">
      <div class="card-body">
        <h5 class="card-title">Parag Agrawal</h5>
        <p class="card-text">TParag Agrawal, an Indian-American, is the chief executive officer of Twitter.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Chief Executive Officer of Twitter</small>
      </div>
    </div>
    <div class="card">
      <img src="./img/mark.jfif" class="card-img-top" alt="..." width="230px" height="250px">
      <div class="card-body">
        <h5 class="card-title">Mark Zuckerberg</h5>
        <p class="card-text">Mark Elliot Zuckerberg is an American media magnate, internet entrepreneur, and philanthropist.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Chief Executive Officer of Facebook</small>
      </div>
    </div>
    <div class="card">
      <img src="./img/ytceo.jfif" class="card-img-top" alt="..." width="230px" height="250px">
      <div class="card-body">
        <h5 class="card-title">Susan Wojcicki</h5>
        <p class="card-text">Susan Diane Wojcicki is an American business executive who is the CEO of YouTube.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Chief Executive Officer ofYouTube</small>
      </div>
    </div>
  </div>