<div class="card">
    <div class="card-header">
      Quote
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>“You always pass failure on the way to success.”</p>
        <footer class="blockquote-footer">Mickey Rooney <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
  </div>